<p> <%= @post.name %></p>
<p> <%= @post.content %></p>
<form action="/posts/<%= @post.id %>/delete" method="POST">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" name="submit" value="delete" id="delete">
</form>
